@import "vars";
@import "libs";
@import "fonts";

.section__title{
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 76px;
}

body{
  font-family: 'Libre Franklin', sans-serif;
  box-sizing: border-box;
  p,ul,li,h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
    font-weight: normal;
  }
}

.container{
  padding: 93px 165px 0 165px;
}

//Header section

.header{
  .header__bg{
    position: relative;
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
  .header__content{
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 24px;
    text-shadow: 3px 5px 2px #474747;
    .header__title{
      font-size: 64px;
      padding-bottom: 26px;
    }
    .header__subtitle{
      padding-bottom: 106px;
    }
    .header__link{
      font-size: 18px;
      color: #fff;
    }
    .header__nav{
      display: flex;
      justify-content: space-between;
      padding-bottom: 145px;
      align-items: center;
      .header__logo{
        font-weight: 700;
      }
      .header__ul{
        display: flex;
        list-style: none;
        .header__li{
          padding-right: 59px;
          a{
            text-decoration: none;
            color: #fff;
          }
          &:nth-child(5){
            padding-right: 0;
          }
        }
      }
    }
  }
}

//About section

.about__content{
  margin-bottom: 115px;
}

//Skills section

.skills{
  background: #FFFAF2;
  .skills__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 145px;
    .skills__profile{
      .profile__item{
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        padding-bottom: 21px;
        &:nth-child(1){
          padding-bottom: 65px;
        }
        &:nth-child(2){
          .progress__percent{
            width: 100%;
          }
        }
        &:nth-child(3){
          .progress__percent{
            width: 50%;
          }
        }
        &:nth-child(4){
          .progress__percent{
            width: 40%;
          }
        }
        &:nth-child(5){
          .progress__percent{
            width: 85%;
          }
        }
        &:nth-child(6){
          padding-bottom: 0;
        }
        .profile__title{
          padding-right: 131px;
          font-weight: 700;
        }
        .profile__progress{
          height: 24px;
          width: 446px;
          background: #F5D6AB;
          .progress__percent{
            background: #C66C49;
            height: 24px;
          }
        }
      }
    }
  }
}

//Portfolio section

.portfolio{
  padding-bottom: 145px;
  .portfolio__item{
    .portfolio__subtitle{
      font-size: 18px;
      font-weight: 700;
      padding-bottom: 48px;
    }
    .portfolio__content{
      display: flex;
      justify-content: space-between;
      .portfolio__text{
        width: 30%;
      }
    }
  }
}

//Footer section

.footer{
  background: #FFFAF2;
  padding-bottom: 189px;
  .footer__nav{
    display: flex;
    justify-content: space-between;
    padding-right: 347px;
    .footer__ul{
      .footer__li{
        list-style: none;
        padding-bottom: 14px;
        a{
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}

//Hamburger styles

.tpl_hamburger svg {height: 40px;width: 60px;}
.tpl_hamburger svg {cursor: pointer;  height: 50px;  transform: translate3d(0px, 0px, 0px);  width: 80px;}
svg:not(:root) {overflow: hidden;}
.tpl_hamburger path.top, .tpl_hamburger path.bottom {
  stroke-dasharray: 240px, 950px;
}
.tpl_hamburger path {
  fill: none; stroke: #fff; stroke-dashoffset: 0; stroke-linecap: round; stroke-width: 40px;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
}
.tpl_hamburger path.middle {stroke-dasharray: 240px, 240px;}
.tpl_hamburger path {
  fill: none; stroke: #fff; stroke-dashoffset: 0; stroke-linecap: round; stroke-width: 40px;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
}

.tpl_hamburger.active path.top, .tpl_hamburger.active path.bottom {
  stroke-dashoffset: -650px;
}
.tpl_hamburger path.top, .tpl_hamburger path.bottom {
  stroke-dasharray: 240px, 950px;
}
.tpl_hamburger.active path.middle {
  stroke-dasharray: 1px, 220px;
  stroke-dashoffset: -115px;
}

.js_menu {
  display: block;
}
.tpl_hamburger{
  display: none;
}
.js_menu.active {
  display: block;
}

.tpl_hamburger.active{
  position: fixed;
  z-index: 6;
  right: 75px;
}

.header__ul-active{
  position: fixed;
  top: 0;
  flex-direction: column;
  right: 0;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: #000;
  width: 230px;
  z-index: 5;
}

.body-block{
  overflow: hidden;
}

//Custom arrows slick-slider

.slick-prev{
  position: absolute;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
}
.slick-next{
  position: absolute;
  bottom: 0;
  left: 40px;
  cursor: pointer;
}

//On top button

.ontop-button {
  position: fixed;
  bottom: 70px;
  right: 180px;
  z-index: 1000;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.show {
  transition: 200ms ease-in-out;
  opacity: 0;
}


@import "media";


